
@page "/basicTabs"

@using UIControlTabs.UIControl

<TabControl>
    <TabPage Text="Tab 1">
        <h1>This is the first tab</h1>
        <Counter/>
    </TabPage>
    <TabPage Text="Tab 2">
        <h1>This is the second tab</h1>
        <FetchData />
    </TabPage>
    <TabPage Text="Tab 3">
        <h1>This is the third tab</h1>
        <AboutPage/>
    </TabPage>
</TabControl>
